<footer>
<div class="flex-container text-center">
          <div class="social-btns">
          <span>
          <a class="btn facebook" href="#"><i class="fa fa-facebook"></i></a>
<a class="btn twitter" href="#"><i class="fa fa-twitter"></i></a>
<a class="btn google" href="#"><i class="fa fa-google"></i></a>
<a class="btn dribbble" href="#"><i class="fa fa-dribbble"></i></a>
<a class="btn github" href="#"><i class="fa fa-github"></i></a>
<a class="btn codepen" href="#"><i class="fa fa-codepen"></i></a>
<a class="btn linkedin" href="#"><i class="fa fa-linkedin"></i></a>
    </span>
</div>
</div>
</footer> 
<!--         <div class="footer-title">
    <h2>M Y</h2>
    <h3><strong>P E R S O N A L S I T E</strong></h3>
<!--   </div>