
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
                <a class="navbar-brand" href="/home">
                    <img src="<%= asset_path 'logo.png' %>" alt="logo">
                </a>
      </div>

    </div>
<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<div class="overlay">
<div class="skew">
</div>
<div class="menu">
  <ul>
    <a href="#"><li>Download CV</li></a>
    <a href="#"><li>Contact</li></a>
  </ul>
</div> 
</div>
  </nav>

