<div class="container work">
  
  <div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2 href="/casestudies/_bi">BIG ISSUE</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p4.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  
<div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  
<div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  
<div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  <div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  <div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  <div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
  <div class="work-item-wrapper">
    <div class="work-item">
      <div class="work-img-holder">
        <img alt="work-image" src="http://www.craiggarner.net/argyle-demo/img/p5.jpg">
      </div>
      <div class="work-overlay">
        <div class="overlay-content">
          <h2>NOSTALGIA</h2>
          <div class="hr"></div>
          <span>Branding &amp; Identity</span>
        </div>
      </div>
    </div>
  </div>
</div>